# Gradle
.gradle/
build/
**/build/
!gradle-wrapper.jar

# Android Studio / IntelliJ
.idea/
*.iml
*.ipr
*.iws

# Local configuration
local.properties

# Log & OS files
*.log
.DS_Store

# Android build outputs
*.apk
*.ap_
*.aab

# Android build intermediates
app/build/
**/build/intermediates/
**/build/outputs/
**/build/tmp/
**/build/generated/
**/build/kotlin/
**/build/kspCaches/
**/build/crashlytics/

# Android specific
*.dex
*.class
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Keystore files
*.jks
*.keystore

# Firebase
google-services.json

# Proguard
proguard/

# NDK
obj/

# External native build folder generated in Android Studio 2.2 and later
.externalNativeBuild
.cxx/

# Freeline
freeline.py
freeline/
freeline_project_description.json

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
fastlane/readme.md

# Bundle artifacts
*.jsbundle

# CocoaPods
/ios/Pods/

# Expo
.expo/
web-build/

# Flipper
Flipper-Folly/

# Xcode
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace

# Eclipse
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders